extends layout

block content
  h1 Joke Sessions

  ul
    for joke in jokeList
      li= joke
    else
      li sorry, no jokes!
  form(name="jokeForm", method="post")
        input(type="text", name="joke")
        input(type="submit")
  p Return #[a(href="/") home]
