extends layout

block content
  h1 Joke Sessions
  p #{msg}
  ul
  form(name="jokeForm", method="post")
        input(type"text", name="joke")
        input(type"submit")
  p Return #[a(href="/") home]
